# Copy this file to .env and fill in your Spotify credentials
# Get them at: https://developer.spotify.com/dashboard

SPOTIFY_CLIENT_ID=c395a8245ca94c69bcb0de8a1227ad27
SPOTIFY_CLIENT_SECRET=eb0ee1fed5434b8d83a057ad9040f0f6
